#text-review-line {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
}

#text-review-line-form {
  margin-left: 0;
  border: 0;
}

#text-review-line-form .form-fields {
  border: 0;
  margin: 0;
  padding: 5px 20px 5px 20px;
}

#text-review-line-form fieldset.form-fields label {
  display: none;
}

#text-review-line-notations {
  padding-left: 20px;
}
