/* form {
   border: 1px solid #c6c7cc;
   overflow: hidden;
   border-radius: 5px;
   font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   }

   fieldset.form-fields {
   border: 0;
   margin: 0;
   padding: 20px 20px 0 20px;
   }

   .form-fields div {
   display: -webkit-flex;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   }

   .form-fields legend {
   color: #395870;
   font-size: large;
   font-weight: bold;
   border-bottom: 3px solid #c6c7cc;
   width: 100%;
   }

   .form-fields label {
   color: #395870;
   display: block;
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 3px;
   }

   .form-fields input, .form-fields textarea {
   border-radius: 5px;
   font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
   background: #fff;
   border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
   color: #636466;
   padding: 6px;
   margin-top: 6px;
   }

   .form-fields textarea {
   resize: vertical;
   }

   .form-fields .submit-form {
   display: block;
   width: 40%;
   background: linear-gradient(#49708f, #293f50);
   border: 0;
   color: #fff;
   cursor: pointer;
   font-weight: bold;
   padding: 8px 16px;
   margin: 15px auto 10px auto;
   }

   .form-fields .form-button {
   display: block;
   background: linear-gradient(to bottom right, #8b9bb2, #646c77);
   border: 0;
   color: #fff;
   cursor: pointer;
   font-weight: bold;
   padding: 8px 16px;
   margin: 5px auto 5px auto;
   } */

.btn-upload {
  margin-bottom: 10px;
}
