body {
  margin: 0;
}

.flex-container {
  display: -webkit-flex;
  display: flex;    
}

.page-layout {
  flex-flow: column nowrap;
  justify-content: space-around;
}

.flex-header {
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background: #444;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
}

.plain-text {
  font-size: 16px;
}

.flex-header h1 {
  margin: 0 auto 0 0;
  font-style: oblique;
  padding-left: 15px;
}

.flex-header h1 a {
  color: white;
}

.flex-header h1 a:hover {
  color: gray;
}

.header-nav {
  flex-direction: column;
  align-items: center;
}

.header-nav a {
  text-decoration: none;
  color: white;
}

.header-nav a:hover {
  color: red;
}

#logo {
  height: 48px;
  width: 48px;
}

.menu-bar {
  flex-flow: row wrap;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  background: #444;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  
}

.menu-bar a, .menu-bar div {
  text-decoration: none;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

.menu-bar a:hover, .menu-bar div:hover {
  color: gray;
}

#page-content {
  margin: 15px auto 20px;
}

.row-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.notification-error {
  border-left: 20px solid red;
  background-color: lightgrey;
}

.notification-notice {
  border-left: 20px solid deepskyblue;
  background-color: lightgrey;
}

.notification-success {
  border-left: 20px solid lawngreen;
  background-color: lightgrey;
}

img#index-pic {
  display: block;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.post-fragment .picture-review-canvas {
  margin-left: auto;
  margin-right: auto;
}

#page-content .fragment-title {
  color: #395870;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-weight: bold;
  font-style: oblique;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}


*.bs-callout:empty {
  padding: 20px;
  margin: 0px;
  border: none;   
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
