#dialog-wrapper {
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

#picture-review-form {
  margin: auto;
  top: 25%;
  left: 25%;
}

.picture-review {
}

.picture-review-canvas {
  border: 3px solid #444;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
}

.picture-review-notation{
  width: 20px;
  height: 20px;
  border: 1px black solid;
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
}

.picture-review-show-notation {
  display: none;
  border-left: 4px solid #aa00bb;
  /* font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* flex-basis: 25%; */
  /* flex-grow: 1; */
  padding-left: 8px;
  overflow: auto;
}

.modal-body {
  padding: 0 15px;
}
