/* .post {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   }

   .post label {
   color: #395870;
   display: block;
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 5px;
   }

   .post input#post-title {
   border-radius: 5px;
   font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
   background: #fff;
   border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
   color: #636466;
   padding: 6px;
   margin-bottom: 10px;
   }

   .post a.post-title {
   font: 20px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
   background: #fff;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
   color: #636466;
   padding: 6px;
   margin-bottom: 10px;
   }

   .post-fragment {
   margin: 10px 0px;
   }

   .post-fragment textarea {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   border: 1px solid #c6c7cc;
   width: 100%;
   max-width: 50em;
   resize: vertical;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
   }
*/
/* .selected-fragment {
   border: 10px dashed blue;
   } */
.btn-locker {
  margin-left: 15px;
  margin-bottom: 20px;
}

.post-fragment {
  margin-bottom: 15px;
}

div + #fragment-controller {
  margin-top: 10px;
}

.spinner {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #a249db; /* Blue */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
