/* .post-header {
   font-family: "Comic Sans MS", cursive, sans-serif;
   color: black;
   }

   .post-content {
   display: -webkit-flex;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   align-items: flex-start;
   font-family: Arial, Helvetica, sans-serif;
   text-shadow: #b3b3cc 2px 2px 5px;
   }
 */
.post-content img {
  width: 100%;
  flex-basis: 100%;
  max-width: 300px;
  flex-grow: 1;
}
*/
