.text-review h3 {
  color: #395870;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-weight: bold;
  font-style: oblique;
}

.text-review .row {
  margin-left: 0;
  margin-right: 0;
}

.text-review .text-review-line {
  cursor: pointer;
}

.text-review .text-review-line:hover {
  text-decoration: underline;
}

.text-review blockquote p {
  margin-top: 10px;
}
