@import models.entities.User
@import utils.DateTimeUtils.formatter

@(user: User)

<div class="form-horizontal col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 well">
  <div class="form-group">
    <label class="col-md-2 control-label">Name: </label>
    <div class="col-md-9 col-md-offset-1">
      <p class="form-control-static">@user.name</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Email: </label>
    <div class="col-md-9 col-md-offset-1">
      <p class="form-control-static">@user.email.getOrElse("None")</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Registered: </label>
    <div class="col-md-9 col-md-offset-1">
      <p class="form-control-static">@formatter.print(user.registered)</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Posts: </label>
    <div class="col-md-9 col-md-offset-1">
      <p class="form-control-static">
	<a href="@routes.PostController.userPosts(user.id.get)">@routes.PostController.userPosts(user.id.get)</a>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Pictures: </label>
    <div class="col-md-9 col-md-offset-1">
      <p class="form-control-static">
	<a href="@routes.PictureController.userPictures(user.id.get)">@routes.PictureController.userPictures(user.id.get)</a>
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Texts: </label>
    <div class="col-md-9 col-md-offset-1">
      <p class="form-control-static">
	<a href="@routes.TextController.userTexts(user.id.get)">@routes.TextController.userTexts(user.id.get)</a>
      </p>
    </div>
  </div>
</div>
