@import helper._
@import models.forms._
@import models.entities.Picture
@import b3.vertical.fieldConstructor

@(notationForm: Form[(Int, Int, String)], picture: Option[Picture] = None)(implicit messages: Messages, headers: RequestHeader)
@implicitField = @{FieldConstructor(plainFieldConstructor.f)}

<div class="modal fade" id="notation-modal" tabindex="-1" role="dialog" aria-labelledby="ntation-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
	<h4>Your comment to this point"</h4>
      </div>
      <div class="modal-body">
	@helper.form(
	  action = routes.NotationController.sendPictureNotation(
	    picture.map(_.id.get).getOrElse(-1)
	  ), 'id -> "picture-review-form"
	) {
	  @CSRF.formField
	  @b3.text(notationForm("x coordinate"), 'class -> "hidden")
	  @b3.text(notationForm("y coordinate"), 'class -> "hidden")
	  @b3.textarea(field = notationForm("comment"), 'style -> "resize: none")
	}
      </div>
      <div class="modal-footer">
	<div class="btn-group btn-group-justified" role="group" aria-label="group button">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Cancel</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button id="submit-picture-notation" type="submit" class="btn btn-success btn-hover-green" role="button">Submit</button>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
