@import models.entities.Picture
@import utils.DateTimeUtils.{formatter => fmt}

@(pics: Seq[Picture], staticRoute: String, isOwner: Boolean)
@if(isOwner){
  <div class="row text-center">
    
    <button class="btn btn-primary btn-around-table" onclick="window.location.href= '@routes.PictureController.uploadFileForm' ">
      Upload new picture!
    </button>
  </div>
  }

<div class="row">
  @if(!pics.isEmpty){
    <table class="table table-striped table-hover">
      <tr>
	<th >Id</th>
	<th style="width: 40%;">Name/Link</th>
	<th style="width: 40%;">Description </th>
	<th>Uploaded</th>
      </tr>

      @pics.map{ pic =>
	<tr>
	  <td>
	    @pic.id
	  </td>
	  <td>
	    <div class="row">
		<a href="@routes.PictureController.showPicture(pic.id.get)">@pic.name</a>
	    </div>
	  </td>
	  <td>
	    <div class="row">
	      <div class="col-md-9">
		@{pic.description}
	      </div>
	      @if(isOwner) {
		<div class="col-md-offset-1 col-md-1">
		<a data-method="DELETE" href="@routes.PictureController.deletePicture(pic.id.get)" class="btn">
		<span class="glyphicon glyphicon-remove"></span>
		</a>
		</div>
	      }
	    </div>
	  </td>
	  <td>
	    @{pic.uploaded.toString(fmt)}
	  </td>
	</tr>
	
	}
	
    </table>
    }
</div>

