@import models.entities.{Picture, PictureNotation}
@import utils.DateTimeUtils.formatter

@(route: String, picture: Picture, notations: Seq[(PictureNotation, Option[(Int, String)])])(notationForm: Html)(implicit messages: Messages)

<div class="post-fragment picture-review" data-type="pictures" data-id="@(s"${picture.id.get}")">
  <h3 class="fragment-title">
    @picture.name
  </h3>
  <div
      class="picture-review-canvas"
      data-id="@(s"${picture.id.get}")"
      style="background-image: url('@{s"$route${picture.id.get}.jpg"}'); height: @{picture.height}px; width: @{picture.width}px;">
    @notations.map{ case(n, optUser) =>
      <div
      class="picture-review-notation"
      style="top: @{n.yCoord - 10}px; left: @{n.xCoord - 10}px;"> @*-10 is for centering*@
      @picture_notation_fragment(n, optUser)
      </div>
    }
  </div>
  <blockquote class="blockquote picture-review-show-notation"></blockquote>
  @notationForm
</div>



