@import models.entities.Picture
@(route: String, pictures: Seq[Picture])

@pictures.map{ pic =>
  <div class="row">       
    <h2>
      <a href="@routes.PictureController.showPicture(pic.id.get)">
	@pic.name
      </a>
    </h2>
    @picture_preview(route, pic)
  </div>  
}

