@import models.entities.{Picture, PictureNotation}
@import utils.DateTimeUtils.formatter

@(notation: PictureNotation, optUser: Option[(Int, String)])

<div class="picture-review-notation-text" style="display: none;">
  <p>@notation.notation</p>
    <footer> @formatter.print(notation.created) by
      <cite>
	@optUser.map{ case(id, name) =>
	  <a href="@routes.UserController.show(id)">
	  @{s"$name"}
	  </a>
	}.getOrElse("unknown user")
      </cite>
    </footer>
</div>
