@import helper._
@import models.entities.Post
@import b3.vertical.fieldConstructor

@(uploadPictureForm: Form[(String, String, String)], post: Option[Post] = None)(implicit messages: Messages, headers: RequestHeader)
@implicitField = @{FieldConstructor(plainFieldConstructor.f)}

@form(action = routes.PictureController.uploadPicture,
      'enctype -> "multipart/form-data",
      'id -> "picture-form",
      'class -> "col-md-8 col-md-offset-2 well") {
  <fieldset>
    <legend>Upload new picture</legend>
    @CSRF.formField
    @b3.text( uploadPictureForm("name"), '_label -> "Name")  
    @b3.textarea(uploadPictureForm("description"),
		 '_label -> "Description")
    @b3.text(
      uploadPictureForm("tags"),
      'class -> "hidden"
    )
    <label class="btn btn-default btn-file btn-upload col-md-4 col-md-offset-4">
      Select file <input type="file" style="display: none;" name="@uploadPictureForm("picture").name">
    </label>
    @b3.submit('class -> "btn btn-primary col-md-4 col-md-offset-4" ){ Upload }
  </fieldset>
  }

  
