@import models.entities._
@import b3.vertical.fieldConstructor

@(picForm: Form[(String, String, String)],
  textForm: Form[(Option[String], String)])(route: String,
					    post: Post,
					    content: Seq[PostFragment],
					    notationForm: Form[(Int, String)])(implicit messages: Messages, header: RequestHeader)
@implicitField = @{helper.FieldConstructor(plainFieldConstructor.f)}
<div class="row">
  <div class="col-md-8">
    <div class="post" data-id="@post.id">
      <div class="row">
	<button class="btn btn-basic btn-locker" id="locker" data-status="ON">Locked post</button>
      </div>
      <div class="row">
	<div class="form-group col-md-6">
	  <label for="post-title">Post title:</label>
	  <input type="text" size="40" class="form-control" id="post-title" value="@post.title">
	</div>
      </div>
      <div class="row">
	<div id ="anchor-post-fragment" class="post-fragment" style="display: none;"></div>
	@content.map{ fragment =>
	  @{fragment match {
	    case PictureReview(pic, nots) => pictures.picture_review(route, pic, nots)(pictures.notation_form(models.forms.Repository.notationForm))
	    case t: TextData => texts.text_review(t, notationForm)
	    case pt: PlainText => texts.ptext_edit(pt)
	  }}
	}
	
	<div id="fragment-controller" style="display: none;">
	  <div class="spinner"></div>
	  <div class="controller">
	    <div class="form-inline">
	      <button class="btn btn-default" id="move-up-fragment" onclick="moveFragment(true);">
		<span class="glyphicon glyphicon-arrow-up"></span>
	      </button>
	      <button class="btn btn-default" id="move-down-fragment" onclick="moveFragment(false);">
		<span class="glyphicon glyphicon-arrow-down"></span>
	      </button>
	      <div class="form-group">
		<select class="form-control" id="mode-select" autocomplete="off">
		  <option value="0">Before element</option>
		  <option value="1" selected="selected">After element</option>
		  <option value="2">Remove element</option>
		</select>
	      </div>
	      <div class="form-group">
		<select class="form-control" id="fragment-select" autocomplete="off">
		  <option value="0" selected="selected">Paragraph</option>
		  <option value="1">Picture</option>
		  <option value="2">Text</option>
		</select>
	      </div>
	    </div>
	    <div id="fragment-filling">
	      @pictures.upload_picture(picForm)
	      @texts.text_publication(textForm)
	      @texts.ptext_form(post)
	    </div>  
	  </div>
	  </div>
	  
	<button class="btn btn-success" onclick="updateAll()">Update</button>
      </div>
    </div>
  </div>
</div>

