@import models.entities._
@import b3.vertical.fieldConstructor

@(route: String,
  postWrapper: PostWrapper,
  notationForm: Form[(Int, String)])(implicit messages: Messages, header: RequestHeader)
@implicitField = @{helper.FieldConstructor(plainFieldConstructor.f)}

<div class="row">
  <div class="col-md-10">
    <div class="post" data-id="@postWrapper.post.id">
      <h2>
	@postWrapper.post.title
      </h2>
      @postWrapper.fragments.map{ fragment =>
	@{fragment match {
	  case PictureReview(pic, nots) => pictures.picture_review(route, pic, nots)(pictures.notation_form(models.forms.Repository.notationForm))
	  case t: TextData => texts.text_review(t, notationForm)
	  case pt: PlainText => texts.show_ptext(pt)
	}}
      }
    </div>
  </div>
</div>
