@import models.entities.{PostWrapper, PictureReview, TextData, PlainText}

@(post: PostWrapper, route: String)(implicit messages: Messages)

<div class="post" data-id="@post.post.id">
  <h2>
    <a href="@routes.PostController.review(post.post.id.get)" class="post-title">@post.post.title</a>
  </h2>
  @post.fragments.map{ fragment =>
    @{fragment match {
      case PictureReview(pic, nots) => pictures.picture_preview(route, pic)
      case t: TextData => texts.show_text(t)
      case pt: PlainText => texts.show_ptext(pt)
    }}
  }

</div>

