@import models.entities.Post
@import utils.DateTimeUtils.{formatter => fmt}

@(posts: Seq[Post], owner: Boolean)

@if(owner){
  <div class="row text-center">
    <button class="btn btn-primary btn-around-table" onclick="window.location.href= '@routes.PostController.newPost' ">
      Create new post!
    </button>
  </div>
  }
<div class="row">
  @if(!posts.isEmpty){
    <table class="table table-striped table-hover">
      <tr>
	<th>Id</th>
	<th style="width: 70%;">Name/Link</th>
	<th>Updated</th>
      </tr>

      @posts.map{ post =>
      <tr>
      <td>
      @post.id
	    </td>
	    <td>
	      <div class="row">
		<div class="col-md-9">
		  <a href="@routes.PostController.review(post.id.get)"> @post.title </a>
		</div>
		@if(owner){
		  <div class="col-md-2 col-md-offset-1">
		  <a href="@routes.PostController.edit(post.id.get)" class="btn">
		  <span class="glyphicon glyphicon-pencil"></span>
		  </a>
		  <a data-method="DELETE" href="@routes.PostController.delete(post.id.get)" class="btn">
		  <span class="glyphicon glyphicon-remove"></span>
		  </a>
		  </div>
		}
	      </div>
	      
	    </td>
	    <td>
	      @{post.updated.toString(fmt)}
	    </td>
      </tr>
      }
      
    </table>
    }
</div>
