@import models.entities.PlainText

@(text: PlainText)
<div class ="post-fragment plain-text" data-type="ptexts" data-id="@{text.id}">
  <textarea class="form-control" style="resize: vertical;">
    @text.text
  </textarea>
</div>
