@import helper._
@import models.entities.{Post, PlainText}
@import PlainText.{form => ptextForm}
@import b3.vertical.fieldConstructor

@(post: Post)(implicit messages: Messages, headers: RequestHeader)
@implicitField = @{FieldConstructor(plainFieldConstructor.f)}

@form(action = routes.PlainTextController.add(post.id.get), 'id -> "plaintext-form") {
  <fieldset class="form-fields">
    <legend>Insert new paragraph</legend>
    @CSRF.formField
    @b3.textarea(ptextForm("text"),
		 '_label -> "Fragment")
    @b3.submit('class -> "btn btn-primary col-md-4 col-md-offset-4" ){ Submit }
  </fieldset>
  }
