@import models.entities.TextData
@import helper._

@(text: TextData, showTitle: Boolean = true)

<!--
     ~ Created by hesowcharov / Dmitry Ovcharov on 2017.05.14
   -->

<div class="post-fragment text-review" data-type="texts" data-id="@{text.id}">
  @if(showTitle){
    <h3>
      @text.title.getOrElse("Undefined title")
    </h3>
  }
    @text.text.zipWithIndex.map { case (line, idx)  =>
      <p class="text-review-line" data-index-number="@{idx}">
      @{s"${idx+1}~ $line"}
      </p>
    }
    <p>
      Created: @text.created.toString
    </p>
</div>
