@import models.entities.PlainText

@(text: PlainText)
<!--
  ~ Created by hesowcharov / Dmitry Ovcharov on 2017.05.14
  -->

<div class ="post-fragment plain-text" data-type="ptexts" data-id="@{text.id}">
  <p>
    @text.text
  </p>
</div>
