@import models.entities.TextData
@import helper._

@(text: TextData, form: Form[(Int, String)])(implicit messages: Messages, headers: RequestHeader)
@implicitField = @{FieldConstructor(plainFieldConstructor.f)}

<div class="post-fragment text-review" data-type="texts" data-id="@{text.id}">
  <h3>
    @text.title.getOrElse("Undefined title")
  </h3>
  @text.text.zipWithIndex.map { case (line, idx)  =>
    <div class="row">
    <p class="text-review-line" data-index-number="@{idx}">
    @{s"${idx+1}~ $line"}
    </p>
    </div>
  }
</div>

@text_notation_form(text.id.get, form)
