@import helper._
@import b3.vertical.fieldConstructor

@(textPublicationForm: Form[(Option[String], String)])(implicit messages: Messages, header: RequestHeader)
@implicitField = @{FieldConstructor(plainFieldConstructor.f)}

@form(action = routes.TextController.postPublishText,
      'id -> "text-form",
      'class -> "col-md-8 col-md-offset-2 well") {
  <fieldset>
    <legend>Create reviewable text</legend>
    @CSRF.formField
    @b3.text(textPublicationForm("title"),
	     '_label -> "Title")
    @b3.textarea(textPublicationForm("text"),
		 '_label -> "Write text by lines",
                   'style -> "resize: vertical;")
    @b3.submit('class -> "btn btn-primary col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3" ){ Submit }
  </fieldset>
  }
