@import helper._
@import b3.vertical.fieldConstructor

@(id: Int, form: Form[(Int, String)])(implicit messages: Messages, headers: RequestHeader)
@implicitField = @{FieldConstructor(plainFieldConstructor.f)}

<div id="text-review-line" style="display: none;">
  <blockquote id="text-review-line-notations"></blockquote>
  
  @helper.form(action = routes.NotationController.sendTextNotation(id, -1), 'id -> "text-review-line-form", 'class -> "form-comment col-md-7 col-md-offset-3") {
    @CSRF.formField
    @b3.text(form("text-name"), 'class -> "hidden")
    @b3.text(form("line-number"), 'class -> "hidden")
    @b3.textarea(form("comment"), 'placeholder -> "your thoughts...", 'style -> "resize: none;")
    @b3.submit('class -> "btn btn-primary col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" ){ Post }
    }
    
</div>

