@import models.entities.TextData
@import helper._

@(texts: Seq[TextData])

@texts.map{ text =>
  <div class="row">       
    <h2>
      <a href="@routes.TextController.showText(text.id.get)">
	@text.title
      </a>
    </h2>
    @show_text(text, false)
  </div>
  }
