
@import models.entities.TextData
@import utils.DateTimeUtils.{formatter => fmt}

@(texts: Seq[TextData], owner: Boolean)
@if(owner){
  <div class="row text-center">
    <button class="btn btn-primary btn-around-table" onclick="window.location.href = '@routes.TextController.publishText'">
      Publish new reviewable text!
    </button>
  </div>
  }
<div class="row">
  @if(!texts.isEmpty){
    <table class="table table-striped table-hover">
      <tr>
	<th>Id</th>
	<th style="width: 70%;">Title/Link</th>
	<th>Created</th>
      </tr>

      @texts.map{ text =>
	<tr>
	<td>
	@text.id
	  </td>
	  <td>
	    <div class="row">
	      <div class="col-md-10">
		<a href="@routes.TextController.showText(text.id.get)">@text.title</a>
	      </div>
	      @if(owner){
		<div class="col-md-offset-1 col-md-1">
		<a data-method="DELETE" href="@routes.TextController.deleteText(text.id.get)" class="btn">
		<span class="glyphicon glyphicon-remove"></span>
		</a>
		</div>
	      }
	    </div>

	    
	    
	  </td>
	  <td>
	    @{text.created.toString(fmt)}
	  </td>
      </tr>
      }
    </table>
    }
</div>
