@()
<div class="row">
  <div class="post-content">
    <h1 class="post-header">
      Welcome to... tolkotvor blog
    </h1>
    <h3>This project is web blog where people can review some kind of art (picture, lyrics).</h3>
    <img id="index-pic" class="img-rounded" src="@routes.Assets.versioned("img/social_media.jpg")">
  </div>
</div>

