@(elements: helper.FieldElements)

<div>
  <label for="@elements.id">@elements.label</label>
    @elements.input
    @if(elements.hasErrors) {
      @elements.errors.map { error =>
	<span class="error">@error</span>
      }
      } else {
      @*@elements.infos.map { info =>
      *  <span class="info">@info</span>
      }*@
      }
</div>
